
<div class="modal-content">
	<form>
		<div class="modal-header">						
			<h4 class="modal-title">Detail Contact</h4>
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="dismiss()">&times;</button>
		</div>
		<div class="modal-body">					
			<div class="form-group">
				<label>Name</label>
				<div>{{contact.Name}}</div>
			</div>
			<div class="form-group">
				<label>Email</label>
				<div>{{contact.EmailAddress}}</div>
			</div>
			<div class="form-group">
				<label>Address</label>
				<div ng-repeat="item in contact.Addresses">
					<div>Type: {{item.AddressType}} </div>
					<div ng-if="item.AddressLine">AddressLine 1: {{item.AddressLine1}} </div>
				</div>
			</div>
			<div class="form-group">
				<label>Phone</label>
				<div ng-repeat="item in contact.Phones">
					<div>Type: {{item.PhoneType}} </div>
					<div ng-if="item.PhoneNumber">Number: {{item.PhoneNumbe}} </div>
				</div>
			</div>					
		</div>
		<div class="modal-footer">
			<input type="button" class="btn btn-default" data-dismiss="modal" ng-click="dismiss()" value="Cancel">
			<input type="submit" class="btn btn-info" ng-click="close()" value="Save">
		</div>
	</form>
</div>