<div class="login-container">
    <section class="login" id="login" ng-if="$root.doLoggingIn">
        <!-- <header>
            <h2>Sample Application</h2>
            <h4>Login</h4>
        </header> -->
        <form class="login-form" action="#" method="post">
            <!-- <input type="text" class="login-input" placeholder="User" required autofocus/>
            <input type="password" class="login-input" placeholder="Password" required/>
            <div class="submit-container"> -->
                <button id="signin" type="submit" class="login100-form-btn">
                    SIGNING IN ...
                </button>
            <!-- </div> -->
        </form>
    </section>
</div>
